<%inherit file="base.html"/>

    <article id="main" role="main" class="hentry yue" itemscope="" itemtype="http://schema.org/Article">

        <div class="entry-header">
            <div class="container">
                <h1 class="entry-title">
                    关于我
                </h1>
            </div>
        </div>
        <div class="entry-content container">
            <blockquote>
                <p>程序员，工作十余年，在数据库、Python、前端开发等领域有一些经验，热爱开源，略懂移动开发，算得上半个全栈工程师。大部分时间主要和金融数据相关打交道，熟悉国内的主要金融数据供应商。</p>
            </blockquote>
            <h2>我的资源</h2>
            <ul>
                <li><a href="https://github.com/vincentwyshan">Github</a></li>
                <li><a href="http://www.weibo.com/vincentwv">微博</a></li>
            </ul>
        </div>
    </article>
