<%inherit file="base.html"/>

    <article id="main" role="main" class="hentry yue" itemscope="" itemtype="http://schema.org/Article">

        <div class="entry-header">
            <div class="container">
                <h1 class="entry-title">
                    ${request._(u'title-about')}
                </h1>
            </div>
        </div>
        <div class="entry-content container">
            <blockquote>
                <p>
                    This is my personal blog site.
                </p>
            </blockquote>
            <h2>My Resources</h2>
            <ul>
                <li><a href="https://github.com/vincentwyshan">Github</a></li>
            </ul>
        </div>
    </article>
