<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
    <title>${title}</title>
    <!--    <link rel="alternate" type="application/atom+xml" title="Subscribe Feed" href="http://feeds.lepture.com/lepture">-->
    <link rel="stylesheet" href="/static/css/site.css">
    <link rel="stylesheet" href="/static/css/font.css">
    <meta name="description" content="Vincent Wen's footprint">
</head>

<body>
    <header id="header">
        <div class="container yue">
            <a id="brand" href="/">
                <strong>Vincent Wen's footprint</strong>
            </a>
            <nav id="nav">
                <a href="/about">About</a>
                <a href="/tags">TAGS</a>
            </nav>
        </div>
    </header>

    ${self.body()}

    <footer id="footer">
        <div class="container">
            <p>© Copyright 2015 - 2016 by Vincent Wen.</p>
        </div>
    </footer>

</body>

</html>
