<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <title>${title}</title>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for vincentsfootprint.com" href="/rss" />
    <link rel="stylesheet" href="/static/css/site.css">
    <link rel="stylesheet" href="/static/css/font.css">
    <meta name="description" content="Vincent Wen's footprint">
</head>

<body>
    <header id="header">
        <div class="container yue">
            <a id="brand" href="${request.registry.settings.get('site_address', '/') | n}">
                <strong>Vincent Wen's footprint</strong>
            </a>
            <nav id="nav">
                <a href="/about">${request._(u'About')}</a>
                <a href="/tags">${request._(u'TAGS')}</a>
            </nav>
        </div>
    </header>

    ${self.body()}

    <footer id="footer">
        <div class="container">
            <p>
                © Copyright 2015 - 2016 by Vincent Wen.
                &nbsp;&nbsp;
<a href="/language?lang=zh_CN"
                   style="${'' if request.localizer.locale_name == 'zh_CN' else 'color: #999;'}">中文</a>
                &nbsp;
                <a href="/language?lang=en"
                   style="${'' if request.localizer.locale_name == 'en' else 'color: #999;'}">English</a>
            </p>
        </div>
    </footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58221573-2', 'auto');
  ga('send', 'pageview');
</script>
</body>

</html>
